#Title {
    text-align: center;
    text-shadow: 20px whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
}

div {
    margin-inline-start: 24%;
    align-items: auto;
    display: flex;
    cursor: pointer;
    

}

body {
    background-color: lightgoldenrodyellow;
    align-items: center;
    align-self: auto;
}

#computer {
    text-align: center;
    font-size: xx-large;
}
#user {
    text-align: center;
    font-size: xx-large;
}
#result {
    text-align: center;
    font-size: 100px;
    margin-block: 0%;
}
